.clearfix:before,
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

* {
    box-sizing: border-box ;
}

/* html,
body{
    width: 100%;
    height: 100%;
} */

body{
    background-image: url("../img/bg/bg-fon-1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #14131A;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
}

.wrapper{
    min-height: 100%;
    min-width: 1150px;
    overflow: hidden;
    position: relative;
}
/* .blod модификатор для wrapper */
.blod{
    background-image: url("../img/bg/blod.png");
    background-repeat: no-repeat;
    background-position: top right;
}

.container{
    width: 1146px;
    margin: 0 auto;
}

/* шапка */
.header{
    padding-top: 40px;
    margin-bottom: 40px;
}
.header .container{
    display: flex;
    align-items: center;
}

.logo__link{
    display: inline-block;
    margin-right: 52px;
}

.logo__img{
    display: block;
}

.nav__list{
    display: flex;
}
.nav__item{
    margin-right: 30px;
}

/* секция */
.section{
   padding-bottom: 144px;
}
/* .section::after{
    content: "";
    display: block;
    height: 144px;
} */


.film__date{
    font-size: 24px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 38px;
}

.film__description{
    max-width: 423px;
    margin-top: 40px;
    font-size: 16px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.8);
}

.button__group{
    margin-top: 70px;
}

.button{
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button__icon,
.button__text{
    display: inline-block;
    vertical-align: middle;
}

.button__text{
    font-size: 14px;
    line-height: 16px;
    margin-left: 10px;
}

.button-primary{
    color: #8D0019;
    background-color: #fff;
}

.button-link{
    color: #fff;
}

.venom-head{
    position: absolute;
    top: 0;
    right: 0;
}

.content{
    display: flex;
}

.col{
    flex-basis: 50%;
}

.content__title{
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 21px;
}

.content__text{
    max-width: 423px;
    font-size: 16px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 30px;
}

.content__subtitle{
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 15px;
}

.list-column-2{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    max-width: 350px;
}

.list__item{
    font-size: 16px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.8);
}

.trailer{
    margin-top: 33px;
}

.content .trailer{
    width: 356px;
    height: 205px;
    background: url("../img/bg/trailer-cover.jpg") no-repeat center / contain;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trailer .play{
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}

.trailer .play__icon{
    transform: translate(1px, 2px);
    width: 15px;
    height: 15px;
}

.poster-wrapper{
    display: flex;
    align-items: flex-start;
}

.poster{
    width: 362px;
    border-radius: 5px;
    margin-right: 30px;
}

.creators .content__subtitle{
    margin-bottom: 5px;
}

.creators .list{
    margin-bottom: 20px;
}
